.container {
  background-color: lightblue;
  color: #890aff;
}
.textareaprimary {
  color: blue;
  background-color: #91ffda;
}
.form-control {
  color: #ff1493;
}
.form-check-input {
  color: #ff1493;
}
